<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <h1>Welcome to
        Book Store!</h1>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Avilable Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Book</a>
                    </li>

                </ul>
            </div>
            <div class="justify-content-end">
                <a class="btn btn-primary" href="/login">Login</a>
                <a class="btn btn-primary" href="/register">New Book</a>
            </div>
        </div>
    </nav>

    <div class="container text-center mt-5">
        <div class="row">
            <div class="col">
                <h2>Book Store</h2>
                <p>Book Store is a simple web application that allows you to manage your book collection.</p>
                <p>It is built using Spring Boot and Thymeleaf.</p>
            </div>
        </div>

        <img src="../static/book.png" class="img-fluid" alt="Book Store">

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>